<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Google fonts -->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,700,300italic" rel="stylesheet" type="text/css">

    <!-- Styles -->
    <link href="css/accordion/v-accordion-panel.css" rel="stylesheet">
    <link href="css/accordion/v-accordion.css"       rel="stylesheet">

    <!-- Scripts -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script> 

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-animate.min.js"></script>
    <script src="js/accordion/v-accordion.js"></script>
    <script src="js/accordion/accordion.app.js"></script>

    <script src="js/jquery/jquery.2.0.3.js"></script>
    <script src="js/bootstrap/bootstrap.3.1.1.js"></script>
    <script src="js/bootstrap/ui-bootstrap-tpls.0.11.2.js"></script>
    <script src="js/prettify/prettify.1.0.1.js"></script>

    <link  href="css/bootstrap/bootstrap.3.1.1.css" rel="stylesheet" type="text/css">
    <link  href="css/prettify/prettify-style.css"  rel="stylesheet" type="text/css">

    <script src="js/tree/angular-tree-control.js"></script>
    <link rel="stylesheet" type="text/css" href="css/tree/tree-control.css">
    <link rel="stylesheet" type="text/css" href="css/tree/tree-control-attribute.css">

    <link rel="stylesheet" type="text/css" href="css/presentation-server.css">
    <script src="js/presentation-server.js"></script>

</head>

<body ng-app="wholeApp">

	<div class="header">
	    <div class="head-container">
	        <h1>Application Base</h1>
	        <h2>The Presentation Server Component</h2>
	        <span class="footer">v1.1</span>
	    </div>
	</div>
	
  <div ng-app="myAccordion">

<!--<div ng-cloak class="u-wideWrapper u-paddingHm u-paddingTl" ng-controller="MainController">-->
    <div ng-cloak class="u-paddingHm u-paddingTl" ng-controller="MainController">

      <div class="Grid Grid--gutters md-Grid--20">
        <div class="Grid-cell">

          <v-accordion class="vAccordion--default" control="accordionA" onexpand="expandCallback(index)" oncollapse="collapseCallback(index)">

            <v-pane ng-repeat="pane in panes" expanded="$first">
              <v-pane-header id="pane0{{$index}}-header" aria-controls="pane0{{$index}}-content">
                <h5>{{ pane.header }}</h5>
              </v-pane-header>

              <v-pane-content id="pane0{{$index}}-content" aria-labelledby="pane0{{$index}}-header">


                      <div ng-switch on="pane.header">
                        <div ng-switch-when="Forms">


<div ng-app="example">   
	<div class="row docs-body">
		<div class="col-md-9">
	
			<section id="classic" ng-controller="Classic">  
			
			    <div class="page-header">
			        <img src="images/reload-icon.png" width="30px" style="cursor:pointer" ng-click="load_forms()"/> Refresh Content
			    </div>
			    <div class="row">
			        <div class="col-md-6 show-grid">
			            <div class="panel panel-default" style="width:70%">
			                <div class="panel-body">
			                    <div class="example-caption">FORMS DEFINED:</div>
			                    <div save-content="classic-html">
			                        <treecontrol class="tree-classic"
			                                     tree-model="treedata"
			                                     on-selection="showSelected(node)">
			                            label: {{node.label}} ({{node.id}})
			                        </treecontrol>
			                    </div>
			                </div>
			            </div>
			        </div>
			    </div>
								
			<!-- 
			    <div class="row">
			        <tabset>
			            <tab heading="Markup" >
			                <pre class="code" apply-content="classic-html" highlight-lang="html"></pre>
			            </tab>
			            <tab heading="JavaScript">
			                <pre class="code" apply-content="classic-js" highlight-lang="js"></pre>
			            </tab>
			        </tabset>
			    </div>
			-->
		
			</section>

		</div>
	</div>
</div>

                        </div>

                        <div ng-switch-when="Web Sockets">
							<input type="button" value="start web-socket communication" onClick="start_ws()" />
							<div id="messages"></div>
						</div>

                        
                        <div ng-switch-default>{{ pane.content }}</div>
					  </div> <!-- SWITCH -->

				<!-- Original Code before including the Tree
                <p>{{ pane.content }}</p>
				-->

                <v-accordion ng-if="pane.subpanes">
                  <v-pane ng-repeat="subpane in pane.subpanes" expanded="$first">
                    <v-pane-header id="pane1{{$index}}-header" aria-controls="pane1{{$index}}-content">
                      <h5>{{ subpane.header }}</h5>
                    </v-pane-header>
                    <v-pane-content id="pane1{{$index}}-content" aria-labelledby="pane1{{$index}}-header">
                      <p>{{ subpane.content }}</p>
                    </v-pane-content>
                  </v-pane>
                </v-accordion>
              </v-pane-content>
            </v-pane>

          </v-accordion>
         </div>
	    </div>
	</div>
  </div>

</body>
</html>
