.header{padding-top: 10px; padding-bottom:10px; background-color: #80444F; background-color-old: #444980;}
.head-container{width: 1140px; margin:auto;}
.header h1 {color: #fffffa; font-size: 60px}
.header h2 {color: #fffffa; font-size: 24px; font-style: normal}
.example-caption {color: #bbb; font-size: 12px}
.docs-body{width: 1140px; margin: auto auto 50px; }
.docs-footer{background-color: #F5F5F5; text-align: center; padding: 30px 0; border-top: #e5e5e5}
.tab-pane{background-color: #f8f8f8; border-right: 1px solid #ccc;border-left: 1px solid #ccc;border-bottom: 1px solid #ccc; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px }
.nav li.active a{background-color: #f8f8f8}
pre.code {border:none; background-color: #f8f8f8; padding: 10px; margin: 0; font-family: Consolas, 'Liberation Mono', Courier, monospace;}
.docs-sidenav { margin-top: 45px; margin-bottom: 0; }
.docs-sidenav > li > a {display: block; font-size: 13px; font-weight: 500; color: #999; padding: 4px 20px;}
.docs-sidenav > li.active > a {font-weight: 700; color: #563d7c; border-left: 2px solid #563d7c;padding-left: 18px;}
.docs-sidenav > li > a:hover {background-color: transparent; color: #563d7c; border-left: 1px solid #563d7c;padding-left: 19px;}
.type-hint-object {background:#999;}
.type-hint-boolean {background:rgb(18, 131, 39);}
.type-hint-number {background:rgb(189, 63, 66);}
.footer {color: #aaaaaa;}
.formTitle {float: left; }
.newFormTitle
{
	border: 0px;
	float: left;
	font-size: 30px;
}

.collapseTab
{
	height: 25px; 
	width: 50px; 
	margin: auto; 
	border: 1px solid grey; 
	margin-top: -21px; 
	text-align: center; 
	cursor: pointer; 
	border-radius: 5px 5px 0px 0px; 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FEFEFE), to(#EFEFEF));
	background-image: -webkit-linear-gradient(top, #FEFEFE, #EFEFEF); 
	background-image: -moz-linear-gradient(top, #FEFEFE, #EFEFEF); 
	background-image: -ms-linear-gradient(top, #FEFEFE, #EFEFEF); 
	background-image: -o-linear-gradient(top, #FEFEFE, #EFEFEF); 
}

#.my-placeholder { color: #aaa; }

.toolBar {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none; 
  #
      -moz-box-shadow: inset 0 0 0 1px #63ad0d;
      -webkit-box-shadow: inset 0 0 0 1px #63ad0d;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      background: #eee;
      background: -webkit-gradient(linear, 0 0, 0 bottom, from(#eee), to(#e2e2e2));
      background: -moz-linear-gradient(#eee, #e2e2e2);
      background: linear-gradient(#eee, #e2e2e2);
      border: solid 1px #d0d0d0;
      border-bottom: solid 3px #b2b1b1;
      border-radius: 3px;
      box-shadow: inset 0 0 0 1px #f5f5f5;
      color: #555;
#      display: inline-block;
      font: bold 12px Arial, Helvetica, Clean, sans-serif;
#      margin: 0 25px 25px 0;
      position: relative;
      text-align: center;
      text-decoration: none;
      text-shadow: 0 1px 0 #fafafa; 
      z-index: 0;
}


.msgFooter {
  display: block;
  position: fixed;
  width: 100%;
  height: 50px;
  opacity: 0.7;
  bottom: 0px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none; 
  #
      -moz-box-shadow: inset 0 0 0 1px #63ad0d;
      -webkit-box-shadow: inset 0 0 0 1px #63ad0d;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      background: #eee;
      background: -webkit-gradient(linear, 0 0, 0 bottom, from(#eee), to(#e2e2e2));
      background: -moz-linear-gradient(#eee, #e2e2e2);
      background: linear-gradient(#eee, #e2e2e2);
      border: solid 1px #d0d0d0;
      border-bottom: solid 3px #b2b1b1;
      border-radius: 3px;
      box-shadow: inset 0 0 0 1px #f5f5f5;
      color: #555;
#      display: inline-block;
      font: bold 12px Arial, Helvetica, Clean, sans-serif;
#      margin: 0 25px 25px 0;
#      position: relative;
      text-align: left;
      vertical-align: middle;
      text-decoration: none;
      text-shadow: 0 1px 0 #fafafa; 
      z-index: 0;
}

.msgFooterOK
{
}  
  
.msgFooterOK a
{
  display: inline-block;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#36E45B), to(#328243));
  background-image: -webkit-linear-gradient(top, #36E45B, #328243); 
  background-image: -moz-linear-gradient(top, #36E45B, #328243); 
  background-image: -ms-linear-gradient(top, #36E45B, #328243); 
  background-image: -o-linear-gradient(top, #36E45B, #328243); 
  # values were:  #f7f7f7, #e7e7e7
  
  # color: #a7a7a7;
  color: #FFFFFF;
  
  margin: 12px;
  margin-top: -15px;
  width: 54px;
  height: 54px;
  position: relative;
  text-align: center;
  line-height: 54px;
  border-radius: 50%;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
}  

.msgFooterERROR
{
}

.msgFooterERROR a
{
  display: inline-block;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#E4365B), to(#823243));
  background-image: -webkit-linear-gradient(top, #E4365B, #823243); 
  background-image: -moz-linear-gradient(top, #E4365B, #823243); 
  background-image: -ms-linear-gradient(top, #E4365B, #823243); 
  background-image: -o-linear-gradient(top, #E4365B, #823243); 
  # values were:  #f7f7f7, #e7e7e7
  
  # color: #a7a7a7;
  color: #FFFFFF;
  
  margin: 12px;
  margin-top: -15px;
  width: 54px;
  height: 54px;
  position: relative;
  text-align: center;
  line-height: 54px;
  border-radius: 50%;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
}  

.msgFooterWARNING
{
}

.msgFooterWARNING a
{
  display: inline-block;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F7FF00), to(#CAD400));
  background-image: -webkit-linear-gradient(top, #F7FF00, #CAD400); 
  background-image: -moz-linear-gradient(top, #F7FF00, #CAD400); 
  background-image: -ms-linear-gradient(top, #F7FF00, #CAD400); 
  background-image: -o-linear-gradient(top, #F7FF00, #CAD400); 
  # values were:  #f7f7f7, #e7e7e7
  
  # color: #a7a7a7;
  color: #333333;
  
  margin: 12px;
  margin-top: -15px;
  width: 54px;
  height: 54px;
  position: relative;
  text-align: center;
  line-height: 54px;
  border-radius: 50%;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
}  

/************
.msgFooterOK a:hover 
{
  text-decoration: none;
  color: #555;
  background: #f5f5f5;
}
*************/

.msgFooterOK:hover 
{
  opacity: 1.0;
}

#notificationMsg
{
    position: absolute;
    margin-top: 15px;
    margin-left: 10px;
}

code 
{
	background:#F0F0F7; 
	border:black dashed 1px; 
	padding:6px; 
	color:#000070;
}

.createFormStmt 
{
	background:#F0F0F7; 
	border:black dashed 1px; 
	padding:0px; 
	color:#000070;
	bottom: 20px;
	position: absolute;
	width: 65%
}

HTML, BODY
{
	height: 100%;
}

#leftDiv
{
	float: left;
	width: 30%;
}

#contentDiv
{
	float: left;
	width: 70%;
	padding-right: 3%;"
}

.singleReferenceFieldset
{
	border       : 1px solid grey; 
	border-radius: 10px; 
	padding      : 15px; 
	padding-top  : 10px; 
	margin-top   : 5px; 
	width        : auto;
}

.dropDown
{
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(../images/down.png), -webkit-linear-gradient(#FEFEFE, #FAFAFA 40%, #EFEFEF);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   border-radius: 10px;
   color: #555;
   font-size: inherit;
   padding: 3px 8px;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 300px;
}

*:focus {
    outline: 0;
}

.menu
{
	position: absolute;
	margin-top: 1%;
	left: 2%;
	z-index: 1000;
	cursor: pointer;
}

.menu a
{
	font-size: 2em;
	color: grey;
}

.menu a:hover
{
	text-decoration: none;
	color: black;
}

.formActions 
{
	vertical-align: middle;
	cursor: pointer;	
}

.formActions a
{
	vertical-align: middle;
	font-size: 2em;
	color: grey;
}

.formActions a:hover
{
	text-decoration: none;
	color: black;
}

